<div class="spellcasting card" data-ability="int">
    <div class="header">
        <h3>Psionicist Manifesting</h3>
    </div>
    <div class="info">
        <div class="limit">
            <span class="label">Limit</span>
            <span class="value">{{powerLimit}}</span>
        </div>
        <div class="ability">
            <span class="label">Ability</span>
            <span class="value">{{abilityMod}}</span>
        </div>
        <div class="attack">
            <span class="label">Attack</span>
            <span class="value">{{attackBonus}}</span>
        </div>
        <div class="save">
            <span class="label">Save DC</span>
            <span class="value">{{saveDC}}</span>
        </div>
    </div>
</div>
