<div class="dnd5e2 chat-card">
    <section class="card-header description ">
        <header class="summary">
            <img class="gold-icon" src="icons/svg/stoned.svg" alt="Imperiled">
            <div class="name-stacked">
                <span class="title">Imperiled</span>
            </div>
        </header>
        <section class="details card-content">
            {{text}}
        </section>
    </section>
</div>
