.dnd5e2.sheet.actor.location {
    --dnd5e-sheet-header-height: 68px;
    --dnd5e-sheet-sidebar-width: 180px;

    min-width: 600px;
    min-height: 500px;

    .window-content {
        overflow-y: hidden;
        height: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .sheet-header {
        flex: 0 0 var(--dnd5e-sheet-header-height);
        gap: 12px;
        padding: 38px 12px 4px;
        align-items: stretch;

        > .left {
            flex: 0 0 var(--dnd5e-sheet-sidebar-width);
        }

        .portrait > img {
            width: var(--dnd5e-sheet-sidebar-width);
            height: var(--dnd5e-sheet-sidebar-width);
            border: 2px solid var(--dnd5e-color-gold);
            box-shadow: 0 0 6px var(--dnd5e-color-black);
            object-fit: cover;
            object-position: top;
            cursor: pointer;
        }

        .stats {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 8px;
            margin-top: -10px;

            > .top {
                display: flex;
                gap: 8px;
                align-items: center;

                > .left {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .document-name {
                        font-size: var(--font-size-28);
                        font-family: var(--dnd5e-font-modesto);
                        font-weight: bold;
                    }

                    .labels {
                        display: flex;
                        gap: 4px;
                        font-family: var(--dnd5e-font-roboto-condensed);

                        li:has(> span) + li:has(> span)::before {
                            content: "•";
                        }

                        li:has(> span:empty) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .sheet-body {
        flex: 1;
        overflow: hidden auto;
        scrollbar-width: thin;
        scrollbar-gutter: stable;

        .main-content {
            padding: 0 0 0 8px;
            display: flex;

            .tab-body {
                flex: 1;

                .tab {
                    padding: 8px 4px 8px 16px;
                    gap: 8px;
                    display: flex;
                    flex-direction: column;

                    &:not(.active) {
                        display: none;
                    }
                }
            }
        }
    }

    // Hide empty sections when grouping moves items around
    .items-section:not(:has(.item)) {
        display: none;
    }
}

:is(.dnd5e-theme-light, .theme-light) {
    .dnd5e2.sheet.actor.location .window-content {
        background: url(/systems/dnd5e/ui/texture1.webp) no-repeat top center / auto 770px,
            var(--dnd5e-color-parchment) url(/systems/dnd5e/ui/texture2.webp)
            no-repeat bottom center / auto 704px;
    }
}
