{{!--
  Location header elements template
--}}

<div class="source-book">
    <a class="config-button" data-action="source" data-tooltip="DND5E.SOURCE.Action.Configure"
       aria-label="{{localize 'DND5E.SOURCE.Action.Configure'}}" hidden="">
        <i class="fas fa-cog"></i>
    </a>
    <span></span>
</div>