<div class="dnd5e2 chat-card">
    <section class="card-header description">
        <header class="summary">
            <img class="gold-icon" src="icons/magic/unholy/orb-glowing-purple.webp" alt="Hungry Magic">
            <div class="name-stacked">
                <span class="title">Hungry Magic</span>
            </div>
        </header>
        <section class="details card-content">
            <div class="effect-details">
                <p><strong>{{actorName}}</strong> rolled a natural 1 on their Blood Magic save!</p>
                <p class="damage-dealt"><strong>No spell slots available!</strong> Magic extracts its price in blood instead.</p>
                <p class="damage-amount"><i class="fas fa-heart-broken"></i> <strong>{{damage}} psychic damage</strong></p>
            </div>
        </section>
    </section>
</div>