<div class="dnd5e2 dialog-content">
    <p><strong>{{actorName}}</strong> has a madness effect that allows a save re-attempt:</p>
    <p><em>{{effectName}}</em></p>
    <hr>
    <p>Would you like to attempt a <strong>{{abilityLabel}} save (DC {{dc}})</strong> to end this effect?</p>
</div>