<div class="dnd5e2 chat-card">
    <section class="card-header description">
        <header class="summary">
            <img class="gold-icon" src="icons/magic/control/fear-fright-monster-purple-blue.webp" alt="Save Failure">
            <div class="name-stacked">
                <span class="title">Madness Save Failed</span>
            </div>
        </header>
        <section class="details card-content">
            <p><strong>{{actorName}}</strong> fails the save against the madness effect.</p>
            <p><em>{{effectName}}</em> continues.</p>
        </section>
    </section>
</div>