<div class="dnd5e2 chat-card">
    <section class="card-header description">
        <header class="summary">
            <img class="gold-icon" src="icons/magic/control/fear-fright-white.webp" alt="Save Success">
            <div class="name-stacked">
                <span class="title">Madness Save Success</span>
            </div>
        </header>
        <section class="details card-content">
            <p><strong>{{actorName}}</strong> successfully saves against the madness effect!</p>
            <p><em>{{effectName}}</em> has been removed.</p>
        </section>
    </section>
</div>